/* Estilos de la animación de fondo */
nav .animation {
    position: absolute; /* Posición absoluta para alinear con respecto al contenedor */
    width: 0; /* Ancho inicial */
    height: 100%; /* Altura igual al contenedor */
    top: 0; /* Alinear en la parte superior */
    left: 50%; /* Comenzar en el centro */
    transform: translateX(-50%); /* Centrar horizontalmente */
    z-index: -1; /* Colocar detrás de otros elementos */
    border-radius: 8px; /* Borde redondeado */
    transition: all .5s ease 0s; /* Transición suave */
}

/* Estilos específicos para cada enlace y su animación */
nav a:nth-child(1) { /* Primer enlace */
    width: 100px; /* Ancho */
}

/* Animación para el primer enlace y su estado activo */
nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px; /* Ancho igual al primer enlace */
    left: 0; /* Alinear a la izquierda */
    background: rgba(255, 0, 0, 0.5); /* Fondo rojo semi-transparente */
}

/* Estilos y animación para el segundo enlace */
nav a:nth-child(2) {
    width: 110px; /* Ancho */
}

nav a:nth-child(2):hover ~ .animation {
    width: 110px; /* Ancho igual al segundo enlace */
    left: 100px; /* Alinear a la derecha del primer enlace */
    background: transparent; /* Fondo transparente */
}

/* Estilos y animación para el tercer enlace */
nav a:nth-child(3) {
    width: 100px; /* Ancho */
}

nav a:nth-child(3):hover ~ .animation {
    width: 100px; /* Ancho igual al tercer enlace */
    left: 210px; /* Alinear a la derecha del segundo enlace */
    background: transparent; /* Fondo transparente */
}
